:root {
  --spinner-animation-speed: 2s;
}

body {
    font-family: Arial, sans-serif;
}
  
header {
    margin-bottom: 20px;
}

.page {
  min-height: 540px;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.spinner {
  animation: spin var(--spinner-animation-speed) linear infinite;
}